<div class="source-frame">
  <select (change)="updateSourceLanguage($event)">
    <option value="{{_sourceLanguage.name}}">{{_sourceLanguage.name}}</option>
    <option *ngFor="let language of _languageList" [value]="language.name">{{language.name}}</option>
  </select>

  <select style="position: absolute; left: 50.8%" (change)="updateTargetLanguage($event)">
    <option value="{{_targetLanguage.name}}">{{_targetLanguage.name}}</option>
    <option *ngFor="let language of _languageList" [value]="language.name">{{language.name}}</option>
  </select>
  <br>
  <textarea name="sourceText" cols="60" rows="1" [(ngModel)]="_sourceText" style="margin-right: 1%"></textarea>
  <textarea readonly name="translatedText" cols="60" rows="1" [(ngModel)]="_translatedText" style="margin-left: 1%"></textarea>
  <br>
  <button name="translateButton" (click)="translate()" style="margin-right: 1%">Перевести</button>
  <button name="saveButton" style="margin-left: 1%">Сохранить</button>
</div>
