<div class="active" *ngIf="_isActive; else inactive">
  <div class="source-frame">
    <select (change)="updateSourceLanguage($event)">
      <option value="{{_sourceLanguage.name}}">{{_sourceLanguage.name}}</option>
      <option *ngFor="let language of _languageList" [value]="language.name">{{language.name}}</option>
    </select>

    <select style="position: absolute; left: 50.8%" (change)="updateTargetLanguage($event)">
      <option value="{{_targetLanguage.name}}">{{_targetLanguage.name}}</option>
      <option *ngFor="let language of _languageList" [value]="language.name">{{language.name}}</option>
    </select>
    <br />
    <textarea name="sourceText" cols="60" rows="1" [(ngModel)]="_sourceText" style="margin-right: 1%"></textarea>
    <textarea readonly name="translatedText" cols="60" rows="1" [(ngModel)]="_translatedText" style="margin-left: 1%"></textarea>
    <br />
    <button [disabled]="!this._sourceText.length" (click)="translate()" style="margin-right: 1%">Перевести</button>
    <button [disabled]="!this._translatedText.length" (click)="save()" style="margin-left: 1%">Сохранить</button>
  </div>

  <div class="saved-list-button">
    <button (click)="setActive()">
      Сохраненные переводы
    </button>
  </div>
</div>

<ng-template #inactive>
  <div class="new-translation-button">
    <button (click)="setActive()">
      Перевести новый текст
    </button>
  </div>

  <div class="history-frame">
    Сохраненные переводы
    <div class="exist" *ngIf="_savedList.length">
      <div class="overlap" *ngIf="_savedList.length > 3; else fits">
        <div class="saved-list" style="height: 21em;">
          <div class="save" *ngFor="let save of _savedList; let i = index">
            {{save.sourceLanguage.name}} &#8594; {{save.targetLanguage.name}}
            <button (click)="delete(i)">Удалить</button>
            <hr />
            <textarea readonly rows="3" style="margin-right: 0.5%;">{{save.sourceText}}</textarea>
            <textarea readonly rows="3" style="margin-left: 0.5%;">{{save.translatedText}}</textarea>
          </div>
        </div>
      </div>

      <ng-template #fits>
        <div class="saved-list">
          <div class="save" *ngFor="let save of _savedList; let i = index">
            {{save.sourceLanguage.name}} &#8594; {{save.targetLanguage.name}}
            <button (click)="delete(i)">Удалить</button>
            <hr />
            <textarea readonly rows="3" style="margin-right: 0.5%;">{{save.sourceText}}</textarea>
            <textarea readonly rows="3" style="margin-left: 0.5%;">{{save.translatedText}}</textarea>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>
